* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Serif', serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}
.courses {
  background-color: #292929;
}

.courses_title {
  text-align: center;
  color: #fff;
}

.courses_text {
  text-align: center;
}
.courses_card_title2 {
  color: #f79237;
}

.courses_cards {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.courses_card {
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  width: 300px;
  height: 400px;
  border-radius: 20px;
  justify-content: space-between;
  border: 1px solid #3a3a3a;
}

.courses_card_img {
  width: 60px;
}

.courses_card_img-block {
  padding-top: 20px;
}

.courses_text {
  font-size: 30px;
  color: #f79237;
}

.courses_card_btn {
  color: #fff;
  background-color: #292929;
  height: 30px;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #3a3a3a;
}

.courses_card_link {
  color: #3191e6;
  text-decoration: none;
}

.community {
  padding: 20px 0;
}
.community_photos {
  background-color: #3298f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.community_img {
  width: 250px;
}

.info_wrapper {
  display: flex;
}

.info_title {
  font-size: 30px;
  color: #ff9638;
  margin-left: -40px;
}

.info_definition {
  font-size: 20px;
  margin-top: 45px;
  padding-left: 90px;
  width: 550px;
}

.bunner {
  margin-top: -3px;
  background-color: #ff9638;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.bunner_title {
  color: #fff;
  font-size: 35px;
}
.bunner_text {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bunner_img {
  display: block;
}
